# Copyright 2025 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Paul Scheffler <paulsc@iis.ee.ethz.ch>

name: test

on: [ push, pull_request, workflow_dispatch ]

jobs:

  show-help:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: pip
      -
        name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install pylint
      -
        name: Show DUTCTL help page
        run: ./dutctl --help
